@import url('./variables.css');
@import url('./reset.css');
@import url('./typography.css');
@import url('./layout.css');
@import url('./utilities.css');

@import url('./components/content.css');
@import url('./components/menu.css');

@import url('./themes/light.css') (prefers-color-scheme: light);
@import url('./themes/dark.css') (prefers-color-scheme: dark);

@import url('./responsive/desktop.css') (min-width: 64em);
/* @import url('./responsive/reduced.css') (prefers-reduced-motion: reduce); */