*, *::before, *::after {
    padding: var(--space-0);
    margin: var(--space-0);
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    font: inherit;
    text-decoration: none;
    color: inherit;
}

button {
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

input,
textarea,
select {
    font: inherit;
}