:root {
    /* === 1. COLORS === */
    --color-primary-red: hsl(5, 85%, 63%);
    --color-primary-orange: hsl(35, 77%, 62%);
    --color-off-white: hsl(36, 100%, 99%);

    --color-text-very-dark-blue: hsl(240, 100%, 5%);
    --color-text-dark-blue: hsl(236, 13%, 42%);
    --color-text-blue: hsl(233, 8%, 79%);

    /* === 2. TYPOGRAPHY === */
    --font-family: 'Inter', system-ui, -apple-system, sans-serif;
    
    --font-size-xs: 0.75rem;    /* 12px */  /* - Font size (paragraph): 15px */
    --font-size-sm: 0.875rem;   /* 14px */
    --font-size-base: 1rem;     /* 16px */
    --font-size-md: 1.125rem;   /* 18px */
    --font-size-lg: 1.25rem;    /* 20px */
    --font-size-xl: 1.5rem;     /* 24px */
    --font-size-xxl: 2rem;      /* 32px */
    
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weightn-extra-bold: 800;
    
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;
    --line-height-loose: 1.8;

    /* === 3. INDENTS AND DIMENSIONS === */
    --space-0: 0;
    --space-1: 0.25rem;   /* 4px */
    --space-2: 0.5rem;    /* 8px */
    --space-3: 0.75rem;   /* 12px */
    --space-4: 1rem;      /* 16px */
    --space-5: 1.5rem;    /* 24px */
    --space-6: 2rem;      /* 32px */
    --space-7: 3rem;      /* 48px */
    --space-8: 4rem;      /* 64px */
    
    --border-radius-sm: 0.375rem;  /* 6px */
    --border-radius-md: 0.5rem;   /* 8px */
    --border-radius-lg: 1rem;     /* 16px */
    --border-radius-xl: 1.5rem;   /* 24px */
    --border-radius-full: 50%; /* для кругов */
    
    /* === 4. SHADOWS === */
    --shadow-sm: 0 1px 3px rgba(0,0,0,0.12);
    --shadow-md: 0 4px 6px rgba(0,0,0,0.1);
    --shadow-lg: 0 10px 15px rgba(0,0,0,0.1);
    --shadow-xl: 0 20px 25px rgba(0,0,0,0.15);
}