.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    transition: opacity 0.3s;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: min(70%, 300px);
    height: 100vh;
    padding: var(--space-6) var(--space-5);
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.mobile-menu:not([hidden]) {
    transform: translateX(0);
}

.close-menu {
    margin-block-end: var(--space-8);
}

.nav-mobile-list li {
    margin-block-end: var(--space-4);
}