/* layout.css */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.featured { grid-column: 1/3; grid-row: 1/3; }
.new { grid-column: 3/4; grid-row: 1/3; }
.top { grid-column: 1/4; grid-row: 3/4; }

.featured-content { flex-direction: row; margin-block-start: 2rem;}
.featured-description { justify-content: space-between; }
.top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}


/* Menu */
.desktop-nav { display: block; }
.mobile-menu-toggle { display: none; }